.imageWithCaption {
  text-align: center;
}

.imageWithCaption img {
  display: block;
  margin: auto;
  height: 30vw;
  width: 40vw;
}

@media (max-width: 750px) {
  .imageWithCaption img {
    height: 60vw;
    width: 80vw;
    margin-bottom: 1em;
  }
}
