.link {
  color: white;
}

.link:hover {
  color: #e8e8e8;
}

#past-projects-dropdown {
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
